.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 1fr 5%;
    gap: 1px;
    
}
header, footer{
    grid-column: 1 / 4;
}
header, footer{
    border-style:unset;
    background: rgb(254, 253, 255);
    font-size: 1.2em;
}
.fonts{
    font-family:Georgia, 'Times New Roman', Times, serif;
}




  